<nav class="footer">
    <div class="left">
        <img src="{{ '/images/logo.svg' }}">
        <h5>Od Srca</h5>
        <div>
            <p>
                <b>Copyright <a href="https://rinkovec.com/">IR</a>, 2018</b>
            </p>
            <p>
                Designed by Goran Alković
            </p>
        </div>
    </div>
    <div class="right">
        <div class="email">
            <i class="fas fa-at"></i>
            <a href="mailto:stud_zbor@foi.hr">
                stud_zbor@foi.hr
            </a>
        </div>
        {#<div class="phone">#}
            {#<i class="fas fa-mobile-alt"></i>#}
            {#<a href="tel:+385123456789">(+385) 12 345 6789</a>#}
        {#</div>#}
    </div>
</nav>