{% extends 'base.html.twig' %}

{% block title %}Od Srca{% endblock %}

{% block body %}
    <div class="landing-page container-fluid abs">
        <div class="col-md-6 left-div">
            {% include 'navigation.html.twig' %}
            <div class="about-content">
                <h1 class="subtitle">O Projektu</h1>
                <p class="paragraph-1">
                    Cilj projekta Od Srca je da se nezbrinutoj djeci u domovima uljepšaju nadolazeći blagdani ispunjenjem njihovih želja. Projekt Od Srca započeo je kao inicijativa Studentskog zbora Fakulteta organizacije I informatike u sklopu akcije “Mladi pomažu”.
                    <br>
                    <br>
                    Ove godine surađujemo s Domom za nezbrinutu djecu  u Varaždinu “Nova budučnost”. Dom ima devet korisnika različitih dobi te je njegova specifičnost da su korisnici mahom braća i sestre.
                    <br>
                    <br>
                    Prikupili smo želje korisnika Doma odnosno djece te Vas molimo da nam pomognete u ispunjavanju istih kako bi im ulijepšali ovaj blagdanski period. Sve neispunjene želje od strane Vas će Studentski zbor Fakulteta organizacije i informatike nastojati ispuniti od prikupljenih donacija.
                    Sudjelovanjem u ovom projektu sudjelujete i u najvećoj akciji humanitarnog karaktera na prostoru grada Varaždina odnosno inicijativi “Mladi pomažu”.
                </p>
                {#<p class="paragraph-2">#}
                    {#Projekt Od Srca započeo je kao Lorem ipsum dolor sit amet, consectetur adipiscing elit,#}
                    {#sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,#}
                    {#quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute#}
                    {#irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.#}
                    {#Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.#}
                {#</p>#}
            </div>
            <div class="hearts">
                <img src="{{ '/images/illustration.svg' }}"/>
            </div>
        </div>
        {% include 'right_div.html.twig' %}
    </div>
    {% include 'footer.html.twig' %}
    <div class="statistics">
        <div>
            <div class="gifts">
                <div class="number">
                    <p>
                        {{ numberGifts }}
                    </p>
                </div>
                <div class="text">
                    <p>
                        poklona
                    </p>
                </div>
            </div>
            <div class="kids">
                <div class="number">
                    <p>
                        {{ numberKids }}
                    </p>
                </div>
                <div class="text">
                    <p>
                        djece
                    </p>
                </div>
            </div>
            <div class="places">
                <div class="number">
                    <p>
                        {{ numberCities }}
                    </p>
                </div>
                <div class="text">
                    <p>
                        mjesta
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}