<nav class="nav nav-container">
    <i class="fas fa-gift"></i>
    <h1 class="title">Od Srca</h1>
    <div class="nav-item text-right margin-r-50">
        <a href="{{ url('home') }}" class="nav-link">Početna</a>
    </div>
    <div class="nav-item text-right margin-r-50">
        <a href="{{ url('wish.list') }}" class="nav-link">Ostvari Želju</a>
    </div>
    <div class="nav-item">
        <a href="{{ url('wish.create') }}" class="nav-link">Zaželi</a>
    </div>
</nav>