<div class="statistics">
    <div>
        <div class="gifts">
            <div class="number">
                <p>
                    123
                </p>
            </div>
            <div class="text">
                <p>
                    poklona
                </p>
            </div>
        </div>
        <div class="kids">
            <div class="number">
                <p>
                    123
                </p>
            </div>
            <div class="text">
                <p>
                    djece
                </p>
            </div>
        </div>
        <div class="places">
            <div class="number">
                <p>
                    123
                </p>
            </div>
            <div class="text">
                <p>
                    mjesta
                </p>
            </div>
        </div>
    </div>
</div>